jwt:
  secret: "xxx"


logging:
  level:
    io:
      modelcontextprotocol: trace
    org.springframework.ai.mcp: trace
    org.springframework.ai.chat.client: trace
    org.springframework.ai.model: trace