web-monitor:
  configs:
    - type: ZzFetcher
      name: 1111
      url:
      intervalSeconds: 600
      enabled: false

    - type: CssSelectorFetcher
      name: CssSelector
      url: https://www.baidu.com
      intervalSeconds: 600
      enabled: false
      cssSelector: "#hotsearch-content-wrapper > li:nth-child(1) > a > span.title-content-title|text"
#      cssSelector: "*[id=\"lg\"] > map > area[shape='rect']|text"
#      cssSelector: "*[id=\"lg\"] > map > area[shape='rect']|attr(title)"

    - type: XPathFetcher
      name: XPathMonitor
      url: https://www.baidu.com
      intervalSeconds: 600
      enabled: true
      xPath: "//*[@id=\"hotsearch-content-wrapper\"]/li[3]/a/span[2]|text"
      userAgent:

    - type: SeleniumFetcher
      name: SeleniumMonitor
      url: https://www.baidu.com
      intervalSeconds: 600
      enabled: false
      cssSelector: "#hotsearch-content-wrapper > li:nth-child(1) > a > span.title-content-title|text"
      xPath: "/html/body/div[3]/div[4]/div[1]/div[3]/div[3]/div/div/div/div[1]/div/h3/a/div/div/p/span/span/span|text"
      driverPath: "src/main/resources/chromedriver"
      timeout: 10

  observers:
    # 控制台log
    - type: ConsoleObserver
      enabled: true

    # 邮件配置（QQ邮箱）
    - type: EmailObserver
      enabled: false
      host: smtp.example.com
      port: 587
      username: your-email@example.com
      password: your-email-password
      from: your-email@example.com
      to: recipient@example.com

    # Slack机器人配置
    - type: SlackObserver
      enabled: false
      webhookBaseUrl:

    # 企业微信机器人配置
    - type: QyWeixinObserver
      enabled: false
      webhookBaseUrl:
      webhookKey:

